.sobre{ 
   
    background-color:var(--cor5);  
    width:900px;   
    margin:auto;    
    display:flex;   
    padding:20px;  
    margin-top:5px;   
    justify-content: space-around;

}
.photo-div{ 

    display:flex;
    align-items:center; 
    padding:20px;  
    color:var(--cor1);
}
.photo-div picture{ 

  border:4px solid var(--cor1);
  width:300px;
  height:300px;
  border-radius:50%;
}
.photo-div img{ 
    width:300px;
    height:300px;
    border-radius:50%;
}
.About-me{ 
    display:flex;   
    align-items:center;   
    flex-direction: column;
    justify-content: space-around;
    padding:20px;  
    background:var(--cor1); 
    border-radius:20px;
}
.About-me h1{ 

    font-size:2em; 
    color:var(--cor5);
    text-transform:uppercase;   
}
.About-me p{ 

    font-size:1.2em; 
    color:var(--cor5);
    width:400px;   
    text-align:center;  
   
}

/* tecnologias */ 

