.sobre{ 
   
    background-color:var(--cor5);  
    width:900px;   
    margin:auto;    
    display:flex;   
    padding:20px;  
    margin-top:5px;   
    justify-content: space-around;

}
.photo-div{ 

    display:flex;
    align-items:center; 
    padding:20px;  
    color:var(--cor1);
}
.photo-div picture{ 

  border:4px solid var(--cor1);
  width:300px;
  height:300px;
  border-radius:50%;
}
.photo-div img{ 
    width:300px;
    height:300px;
    border-radius:50%;
}
.About-me{ 
    display:flex;   
    align-items:center;   
    flex-direction: column;
    justify-content: space-around;
    padding:20px;  
    background:var(--cor1); 
    border-radius:20px;
}
.About-me h1{ 

    font-size:2em; 
    color:var(--cor5);
    text-transform:uppercase;   
}
.About-me p{ 

    font-size:1.2em; 
    color:var(--cor5);
    width:400px;   
    text-align:center;  
   
}

/* tecnologias */ 

@media (min-width:299.98px) and (max-width:566.98px) {
    .sobre{ 
        display:block;
        width:80%;  
    }
    .photo-div{ 
        margin:auto;
        width:250px;
        padding-bottom:50px; 
    }
    .photo-div picture {

        width:250px;
        height:250px;
        border-radius:50%;
        margin:auto;

    }
    .photo-div img{ 
        width:250px;
        height:250px;
        border-radius:50%;
    }
    .About-me{ 
        width:250px;
        display:block;
        margin:auto;

    }
    .About-me p{ 
       
        width:200px;
        margin:auto;
        padding:20px;
        font-size:1em;

        
    }

    .About-me h1{ 

        padding:20px;
        text-align:center; 
        font-size:1.5em; 
        

        
    }
     
      
}