.slide-bar{ 
    background-color:var(--cor5);  
    width:900px;   
    margin:auto;    
    display:flex;   
    padding:20px;  
    margin-top:50px;   
    justify-content: space-around;
    border-radius:20px;   
}

.information{  
   
    padding:20px;

}

.information h2{ 

    font-size:1.5em;  
    padding:10px;   
    color:var(--cor3);


}

.information h1{ 

    font-size:2em;  
    padding-left:10px;   
    color:var(--cor3);
     

}
.information button{ 

    font-size:2em;  
    padding:10px;  
    font-align:center;   
    margin-left:10px; 
    margin-top:20px;   
    width:300px;
    background-color:var(--cor1);
    color:var(--cor5);
    border:2px solid var(--cor5); 
    border-radius:10px;  
    font-weight: bold;  

     

}.information button p{ 

    display:inline; 

     

}
.information button:hover{ 
  
    border:2px solid var(--cor1); 
    background-color:var(--cor5);    
    color:var(--cor1);
    cursor:pointer;

}
.animation-index{ 
    display:flex;
    align-items:center; 
    font-size:8em;
    padding:20px;  
    color:var(--cor1);
    animation-duration: 2s;
    animation-name: zoomInf;
    animation-iteration-count: infinite;
    width:300px;
}
@keyframes zoomInf {
    0% { font-size: 8em;}
    25% { font-size: 8.5em;}
    50% {font-size: 9em;}
    75% {font-size: 9.5em;}
    100% {font-size: 10em;}
  }

@media (min-width:299.98px) and (max-width:566.98px) {

    .animation-index{
        display:none;

    }
    .slide-bar{
        width:80%;
    }

}