*{
    padding:0px;   
    margin:0px;  
    font-family: Arial, Helvetica, sans-serif; 
    font-size:1em;   
}
:root{ 

    --cor1:#2390B8; 
    --cor2:#787878;
    --cor3:#2B2B2B;
    --cor4:#DEDEDE;
    --cor5:#ffffff;

}

#menu{ 
    max-width:100%;  
    margin:auto;  
    background-color:var(--cor5); 
    border-bottom:solid 4px var(--cor1); 
}

.menu-index{ 
    
    width:800px;   
    margin:auto;   
    display:flex;  
   


}
.menu-index li{ 
    
    display:inline-block;   
    text-align:center;  
    margin:auto;   
    padding:20px;  
    item-align:center;  


}
.menu-index a{ 
    
    text-decoration:none;   
    color:var(--cor3);
    font-weight: bold;   



}
.menu-index a:hover{ 
    
    color:var(--cor1);
    font-weight: bold;   
    cursor:pointer;


}


@media (min-width:299.98px) and (max-width:566.98px){


    .menu-index a{
        display:none;
         
    }
}