*{
    padding:0px;   
    margin:0px;  
    font-family: Arial, Helvetica, sans-serif; 
    font-size:1em;   
}
:root{ 

    --cor1:#2390B8; 
    --cor2:#787878;
    --cor3:#2B2B2B;
    --cor4:#DEDEDE;
    --cor5:#ffffff;

}


/* slide bar div */



/* About  Me */


/* Projetos */ 



/* contatos e rodapé */ 
@media (min-width:299.98px) and (max-width:566.98px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    

}




